Source: rareos-fonts
Section: gnome
Priority: optional
Maintainer: Mason Lee Back <mason@orioncomputing.net>
Uploaders: Mason Lee Back <mason@orioncomputing.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rareos/rareos-fonts

Package: rareos-fonts
Architecture: all
Description: rareOS Fonts
