Source: rareos-fonts
Section: gnome
Priority: optional
Maintainer: Mason Back <mason@orioncomputing.net>
Uploaders: Mason Back <mason@orioncomputing.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/rareos/rareos-fonts

Package: rareos-fonts
Architecture: all
Conflicts: system76-pop-fonts
Description: rareOS Fonts
